.header{
    color: rgb(57, 57, 57);
    font-size:20px;
    text-align: center;
    box-shadow:rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px !important;
    background-color:rgb(245,245,245)
}